<% content_for :head do %>

  <script type="text/javascript" charset="utf-8">
    jQuery(function(){
        new TargetsIndexPage({el: $("body")});      
    });     
  </script>

<% end %>

<div id='content' class='source_content'>
  <div id='sources_header'>
    <h1 id='sources_title'>The Kepler Targets</h1>
    <p id='sources_blurb'>SETILive is primarily targeting stars with known exoplanets from the Kepler field. The Kepler targets are listed here - click on one to find out more about the target and its exoplanets.</p>
  </div>

  <div id='sources'>
  </div>

</div>
