<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new TargetsShowPage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='content'>
  <div id='sources_header'>
    <h1 id='sources_title'>The Kepler Targets</h1>
    <p id='sources_blurb'>SETILive is primarily targeting stars with known exoplanets from the Kepler field. This is one of the Kepler field targets.</p>
  </div>

   <div id='source'></div>
</div>
