<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new TargetsShowPage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='content'>
  <div id='sources_header'>
    <h1 id='sources_title'>The Kepler Targets</h1>
    <p id='sources_blurb'> In 1960, Frank Drake conducted the first scientific search for extraterrestrial intelligence (SETI). 
     Since then, scientists from many countries have conducted more than 100 projects looking for communication signals from other civilizations.</p>
  </div>

   <div id='source'></div>
</div>
