<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new ProfilePage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='content'>
  <div id='profile'>
   
    <div id='user_summary'></div>
  </div>
</div>
