<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new GalleryPage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='content'>
  <div id='galleryPage'>
    <div id='gallery_header'>
      <h1 id='gallery_title'>The ATA Radio Signal Gallery</h1>
      <p id='gallery_blurb'>Welcome to the signal gallery. The ATA picks up a large number of signals, terrestrial, satellite's and hopefully even some extraterrestrial. This page is here to give you an idea of the kinds of signal you can expect to find and what causes them.</p>
    </div>

    <ul id='gallery'></ul>
  </div>
</div>