<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new HomePage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='content'>
  <ul id='global_stats'> </ul>
  <div id='home_content'></div>
  <div id='home_lower'>
    <div id='most_recent_badge'></div>
    <a href='http://science.discovery.com/tv/are-we-alone/' target='_blank' ><img id='discovery_logo' src='/assets/Are-we-alone-610x150.jpg' /></a>
  </div>
</div>