
<div id='content'>
  <div id='real_time'>
    <h1>We're Searching for Interesting Signals from Beyond the Earth.<a href='classify.html' class='green thick'> Begin Your Search.</a>
   </h1>
    <h2>Happening now</h2>
    <ul id='stats'>
      <li>
        <div class='stats_box people-online'>2083</div>
        <p class='stats_label '>People Online</p> 
      </li>
       <li>
        <div class='stats_box total-classifications'>9,768,014</div>
        <p class='stats_label'>Total Classifications</p> 
      </li>
      <li>
        <div class='stats_box daily-classifications'>4,205</div>
        <p class='stats_label '>Classifications Today</p> 
      </li>
       <li>
        <div class='stats_box classification-rate'>230 <span class='mins'>/min</span></div>
        <p class='stats_label '>Classification Rate</p> 
      </li>
    </li>
    </ul>
  </div>
  <div id='lower'>
    <div id='left'>
      <p class='grey'>
        Let's light this fire one more time, Mike, and witness this great nation at its best.
        We choose to go to the moon. We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win, and the others, too.
      </p>
      <a href="#">LEARN MORE</a>
    </div>
    <div id='right'>
      <ul> 
        <li>
          <p class='label'>Classified by davidmill at 3:30 EST <span class='star'></span></p>
        </li>
        <li>
          <p class='label'>Classified by davidmill at 3:30 EST <span class='star'></span></p>
        </li>
        <li>
          <p class='label'>Classified by davidmill at 3:30 EST <span class='star'></span></p>
        </li>
        <li>
          <p class='label'>Classified by davidmill at 3:30 EST <span class='star'></span></p>
        </li>
        <li>
          <p class='label'>Classified by davidmill at 3:30 EST <span class='star'></span></p>
        </li>
        <li>
          <p class='label'>Classified by davidmill at 3:30 EST <span class='star'></span></p>
        </li>
      </ul>
    </div>

  </div>
</div>
