<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        <%if @tutorial%>
          new TutorialPage({el: $("body")});      
        <%else%>
          new ClassificationPage({el: $("body")});      
        <%end%>
    });     
  </script>
<%end%>

<div id='content'>
  <div id='classify-area'>
    <div id='waterfalls'>
      <h1>Loading .... </h1>
    </div>

    <div id='info'>
      <div id='countdown'>
        <p id='time'>2:34:03</p>
        <p class='title'>Estimated time until new target</p>
      </div>
      <div id='current_targets'>  
      </div>

      <div id='extra_controlls'>
        <div id='clear_signal' class='extra_button'>Clear All Signals</div>
        <div id='favourite' class='extra_button' >
          <img src='/assets/favourite_button_classify.png' />
        </div> 
      <div id='next_beam' class='extra_button'> Next Beam </div>
      <div id='done' class='extra_button'> Done </div>
      <div id='talk' >
        <p class='talk_prompt'> Thank you for classifying. Would you like to discuss this observation?</p>
        <div class='extra_button' id='talkYes'>Yes</div>
        <div class='extra_button' id='talkNo'>No</div>  

      </div>
    </div>
  </div>
</div>
</div>
