<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        <%if @subject_id %>
          window.subject_id="<%=@subject_id%>"
        <%end%>
        <%if @tutorial%>
          new TutorialPage({el: $("body")});      
        <%else%>
          new ClassificationPage({el: $("body")});      
        <%end%>
    });     
  </script>
<%end%>

<div id='content'>
  <div id='classify-area'>

    <div id='waterfalls'>
      <h1>Loading .... </h1>
    </div>

    <div id='info'>
      <div id='countdown'>
        <p id='time'>-</p>
        <p class='title'>Complete your classification in</p>
      </div>

      <div id="star_field"></div>

      <div id='current_targets'></div>

      <div id='extra_controlls'>
        <div id='clear_signal' class='extra_button'>Clear All Signals</div>
        <a href="<%= url_for(:action => 'video_tutorial', :controller => 'about') %>"><div id='help_link' class='extra_button'>?</div></a>
        <div id='favourite' class='extra_button' >
          <img src='/assets/favourite_button_classify-new.png' />
        </div>
        <div id='next_beam' class='extra_button'> Next Beam </div>
        <div id='done' class='extra_button'> Done </div>
      </div>
    </div>


    <div id='talk' >
      <p class='talk_prompt'> 
        <span style='display:none' id="talk_fill"><br><br></span>
        <span style='display:none' id="simulation_notification">This waterfall contains a <a href='/simulations/' target='_blank'>simulated signal</a>. Move the mouse over the image to reveal it under the red line. Some are too faint for you to see.</span>
        <span style='display:none' id='thankyou'>Thank you for classifying.</span> Would you like to discuss this observation?</p>
      <div class='extra_button' id='talkYes'>Yes</div>
      <div class='extra_button' id='talkNo'>No</div>  
    </div>
  </div>
</div>
</div>
