<div id='content'>
      <h1 id='section-title'>classify</h1> 
      <div id='flash'><span class='dismiss'>X</span> The telescope is following up on something you just identified! Go check it out...</div>
      <div id='classify-area'>
        <div id='waterfalls'>
          <div class='waterfall large-waterfall' id='main-waterfall' style='position:relative'>
            <div class='workflow-area' id='workflow'>
              <div class='question'></div>
              <ul class='answer_list'></ul>
            </div>
            <canvas style='width:100%;height:100%;position:absolute; top:0px; left:0px'></canvas>
          </div>
          <div class='waterfall small-waterfall' id='waterfall-1' style='position:relative'>
            <canvas style='width:100%;height:100%;position:absolute; top:0px; left:0px'></canvas>
          </div>
          <div class='waterfall small-waterfall' id='waterfall-2' style='position:relative'>
            <canvas style='width:100%;height:100%;position:absolute; top:0px; left:0px'></canvas>
          </div>
          <div class='waterfall small-waterfall' id='waterfall-3' style='position:relative'>
            <canvas style='width:100%;height:100%;position:absolute; top:0px; left:0px'></canvas>
          </div>
        </div>
       
        <div id='info'>
          <div id='countdown'>
            <p id='time'>2:34:03</p>
            <p class='title'>Time till new data</p>
          </div>
          <div id='live_cam'>
            <div id='live_feed'></div>
            <p class='title'>Allen telescope live feed</p>
          </div>

          <div id = 'extra_controlls'>
            <div id='done_talk'>
              <div id='done'> Done </div>
            </div>
            <div id='favourite'> Add to Favourites</div>
             <a href='#' id='nextBeam' >NEXT BEAM</a>
          </div>
        </div>
      </div>
    </div>
