<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    var exports = this;
    jQuery(function(){
        new AboutPage({el: $("body")});
    });
  </script>
<% end %>

<div class="about">
	<div class="stage">
		<div data-animation-scene="Ata" class="ata scene active">
			<div class="container">
				<img src="/assets/about/ata/mountain.png" class="mountain" />
				<img src="/assets/about/ata/telescope_large.png" class="first far scope" />
				<img src="/assets/about/ata/telescope_large.png" class="second far scope" />
				<img src="/assets/about/ata/telescope_large.png" class="third far scope" />
				<img src="/assets/about/ata/telescope_large.png" class="first near scope" />
				<img src="/assets/about/ata/telescope_large.png" class="second near scope" />
			</div>

			<div class="description">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
			</div>
		</div>


 		<div data-animation-scene="Radiosphere" class="radiosphere scene">
			<div class="container">
				<img src="/assets/about/radiosphere/ring_outer.png" class="outer ring" />
				<img src="/assets/about/radiosphere/ring_mid.png" class="middle ring" />
				<img src="/assets/about/radiosphere/ring_inner.png" class="inner ring" />
				<img src="/assets/about/radiosphere/planet.png" class="main planet" />
				<img src="/assets/about/radiosphere/radio.png" class="radio" />
				<img src="/assets/about/radiosphere/waves.png" class="radio-waves" />
				<img src="/assets/about/radiosphere/planet_back.png" class="tiny planet" />
				<img src="/assets/about/radiosphere/planet_mid.png" class="small planet" />
				<img src="/assets/about/radiosphere/planet_front.png" class="other planet" />
			</div>

			<div class="description">Radiosphere</div>
		</div>


		<div data-animation-scene="HabitableZone" class="habitable-zone scene">
			<div class="container">
				<img src="/assets/about/habitable-zone/ring_outer.png" class="outer ring" />
				<img src="/assets/about/habitable-zone/ring_inner.png" class="inner ring" />
				<img src="/assets/about/habitable-zone/star.png" class="star" />
				<img src="/assets/about/habitable-zone/planet.png" class="planet" />
				<span class="flag for-star">Star</span>
				<span class="flag for-planet">Planet</span>
				<span class="flag for-zone">Habitable Zone</span>
			</div>

			<div class="description">Habitable Zone</div>
		</div>


		<div data-animation-scene="Doppler" class="doppler scene">
			<div class="container">
				<img src="/assets/about/doppler/mountain.png" class="mountain" />
				<span class="satelliteGroup">
					<img src="/assets/about/doppler/satellite.png" class="satellite" />
					<img src="/assets/about/doppler/waves_satellite.png" class="waves for-satellite" />
				</span>
				<img src="/assets/about/doppler/tower.png" class="tower" />
				<img src="/assets/about/doppler/waves_tower.png" class="waves for-tower" />
				<img src="/assets/about/doppler/telescope_large.png" class="telescope" />
			</div>

			<div class="description">Doppler</div>
		</div>
	</div>
</div>
