<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    var exports = this;
    jQuery(function(){
        new AboutPage({el: $("body")});
    });
  </script>
<% end %>

<div class="about">
	<div class="stage">
		<div data-animation-scene="Ata" class="ata scene active">
			<div class="container">
				<img src="/assets/about/ata/mountain.png" class="mountain" />
				<img src="/assets/about/ata/telescope_large.png" class="first far scope" />
				<img src="/assets/about/ata/telescope_large.png" class="second far scope" />
				<img src="/assets/about/ata/telescope_large.png" class="third far scope" />
				<img src="/assets/about/ata/telescope_large.png" class="first near scope" />
				<img src="/assets/about/ata/telescope_large.png" class="second near scope" />
			</div>

			<div class="description">
				The ATA works is exactly like our brain does with our two ears to help us tell what direction a sound is coming from. If a sound comes from in front of us or behind us, it arrives at both ears at the same time. If the sound comes from our left, it arrives in our left ear just a little before it gets to the right ear. If we want to concentrate on sounds coming from certain directions, our 'computer' (out brain) is so sophisticated that we can concentrate on things from several directions and filter out the rest - and we do that with only <em>two ears!</em>. The human brain is much more sophisticated than any computers we can build, so the ATA uses 42 'ears' to focus on specific directions.
      </div>
      <div class="description">
        The advantage of an array over a single large dish is that the signals from these dishes can be combined in special ways by computer to electronically point it in several directions <em>at the same time</em>, with each circular spot about as small as what you get in only one direction with a single big dish. With <%= link_to "setilive.org", "setilive.org" %> we look at 'waterfall' images, which show the radio signals received in these directions by the ATA over a certain frequency range and how it changes over the 90 seconds or so before the ATA switches to a new direction or frequency range (more about waterfall images later). The SETI scientists have automated computer algorithms to analyze these images and look for signals that might be worth a second look.
        </div>
        <div class="description">Computer algorithms however don't work very well when there are also strong signals coming from earthbound and orbiting signal sources. Unfortunately humans use radio signals a lot to communicate with each other like from satellites and WiFi and to make matters worse, non-radio electronics (like digital cameras and computers) produce unintentional radio signals as a byproduct of their normal operation. This means that while trying to listen for faint radio signals from space the telescope will also pick up a lot of Radio Frequency Interference (RFI) here on Earth. One of the hardest parts of hunting for signals from space is separating what might be an ET signal from the earth-based RFI sources.We think that the sophisticated human eyes and the brain attached to them should be better than a computer at finding interesting, possible ET signals in the waterfall images, especially when there's RFI.
			</div>
		</div>

 		<div data-animation-scene="Radiosphere" class="radiosphere scene">
			<div class="container">
				<img src="/assets/about/radiosphere/ring_outer.png" class="outer ring" />
				<img src="/assets/about/radiosphere/ring_mid.png" class="middle ring" />
				<img src="/assets/about/radiosphere/ring_inner.png" class="inner ring" />
				<img src="/assets/about/radiosphere/planet.png" class="main planet" />
				<img src="/assets/about/radiosphere/radio.png" class="radio" />
				<img src="/assets/about/radiosphere/waves.png" class="radio-waves" />
				<img src="/assets/about/radiosphere/planet_back.png" class="tiny planet" />
				<img src="/assets/about/radiosphere/planet_mid.png" class="small planet" />
				<img src="/assets/about/radiosphere/planet_front.png" class="other planet" />
			</div>

			<div class="description">The radiosphere is the spherical region of space around the Earth within which an ET civilization would be close enough to detect our radio signals. About 70 years ago, we started producing signals that could get beyond our ionosphere and radiate into space.  Radio waves are actually a form of light and so travel at the same speed as all forms of light, or 299,792,458 meters per second. This finite speed means that it takes radio waves some time to travel from one point to another. Normally, on Earth the distance between emitter and detector is small enough that it appears to happen instantaneously.</div>

      <div class="description">However, the nearest star that is known to have a planet is Epsilon Eridani, 10 light-years away. This is a huge distance, about 100 million million kilometres. It takes light 10 years to travel this distance from Earth but this planet is well within our radiosphere. Our signals haven't had time to reach planets more than 70 light-years away, so there's no chance they could detect them (yet). Another problem is that radio waves spread out over space as they travel further and further, so an ET civilization's antenna intercepts less and less power. At very large distances, ETs might have to construct huge antennas to collect more power to address this problem and an advanced civilization should be capable of this.</div>

      <div class="description">The radiosphere works in reverse as well, but we don't know when an ET civilization started producing signals that could escape their ionosphere, so we don't know how large a distant star's radio sphere would be. SETILive is about looking for signals that ET civilizations are producing. There's a chance that a civilization is routinely sending signals towards us in a very narrow, high power beam (maybe in response to detecting signals from our direction) and we have a fair chance of detecting that.</div>
		</div>


		<div data-animation-scene="HabitableZone" class="habitable-zone scene">
			<div class="container">
				<img src="/assets/about/habitable-zone/ring_outer.png" class="outer ring" />
				<img src="/assets/about/habitable-zone/ring_inner.png" class="inner ring" />
				<img src="/assets/about/habitable-zone/star.png" class="star" />
				<img src="/assets/about/habitable-zone/planet.png" class="planet" />
				<span class="flag for-star">Star</span>
				<span class="flag for-planet">Planet</span>
				<span class="flag for-zone">Habitable Zone</span>
			</div>

			<div class="description">Habitable Zone lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>


		<div data-animation-scene="Doppler" class="doppler scene">
			<div class="container">
				<img src="/assets/about/doppler/mountain.png" class="mountain" />
				<span class="satelliteGroup">
					<img src="/assets/about/doppler/satellite.png" class="satellite" />
					<img src="/assets/about/doppler/waves_satellite.png" class="waves for-satellite" />
				</span>
				<img src="/assets/about/doppler/tower.png" class="tower" />
				<img src="/assets/about/doppler/waves_tower.png" class="waves for-tower" />
				<img src="/assets/about/doppler/telescope_large.png" class="telescope" />
			</div>

			<div class="description">Doppler lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
</div>
