<div class="about">
	<div class="stage">
		<div data-animation-scene="Ata" class="scene">
			<img src="/assets/about/ata/mountain.png" class="mountain" />
			<img src="/assets/about/ata/telescope_large.png" class="first far scope" />
			<img src="/assets/about/ata/telescope_large.png" class="second far scope" />
			<img src="/assets/about/ata/telescope_large.png" class="third far scope" />
			<img src="/assets/about/ata/telescope_large.png" class="first near scope" />
			<img src="/assets/about/ata/telescope_large.png" class="second near scope" />
		</div>

 		<div data-animation-scene="Radiosphere" style="display: none;" class="scene">
			<span class="main planet"><img src="" /></span>
			<span class="radio"><img src="" /></span>
			<span class="radio-waves"><img src="" /></span>
			<span class="first ring"><img src="" /></span>
			<span class="second ring"><img src="" /></span>
			<span class="third ring"><img src="" /></span>
			<span class="tiny planet"><img src="" /></span>
			<span class="small planet"><img src="" /></span>
			<span class="other planet"><img src="" /></span>
		</div>

<!--		<div data-animation-scene="HabitableZone" style="display: none;" class="scene">
			<img src="" class="star" />
			<img src="" class="planet" />
			<img src="" class="too-hot" />
			<img src="" class="too-cold" />
			<span class="star-flag">Star</span>
			<span class="planet-flag">Planet</span>
			<span class="zone-flag">Habitable Zone</span>
		</div>

		<div data-animation-scene="Doppler" style="display: none;" class="scene">
			<img src="" class="mountain" />
			<img src="" class="satellite" />
			<img src="" class="satellite-waves" />
			<img src="" class="tower" />
			<img src="" class="tower-waves" />
			<img src="" class="telescope" />
		</div> -->
	</div>
</div>