<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new GenericAboutPage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='content'>
  <div id='galleryPage'>
    <div id='gallery_header'>
      <h1 id='gallery_title'>Video Tutorial</h1>
      <iframe src="http://player.vimeo.com/video/38373314" width="1000" height="600" style="margin-bottom:50px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
</div>