.about
	> .stage
		background: #233
		height: 400px
		margin: 0 auto
		position: relative
		width: 800px

		> .scene
			height: 100%
			left: 0
			position: absolute
			top: 0
			width: 100%

			&.active
				position: relative
				z-index: 1

			> *
				position: absolute

		> .ata.scene
			> .mountain
				left: 0
				bottom: 41%
				width: 788px

			> .far.scope
				bottom: 30%
				height: 90px
				margin-left: -60px

				&.first
					left: 13%

				&.second
					left: 50%

				&.third
					left: 87%

			> .near.scope
				bottom: 10%
				margin-left: -200px

				&.first
					left: 33%

				&.second
					left: 75%

		> .radiosphere.scene
			> .outer.ring
				left: 6%
				top: 18%

			> .middle.ring
				left: 16%
				top: 20%

			> .inner.ring
				left: 27%
				top: 24%

			> .main.planet
				left: 41%
				top: 21%

			> .radio
				left: 46%
				top: 11%

			> .radio-waves
				left: 45%
				top: 3%

			> .tiny.planet
				left: 80%
				top: 3%

			> .small.planet
				left: 17%
				top: 61%

			> .other.planet
				left: 75%
				top: 63%

		> .habitable-zone.scene
			> .outer.ring
				left: 8%
				top: 24%

			> .inner.ring
				left: 27%
				top: 30%

			> .star
				left: 41%
				top: 27%

			> .planet
				left: 27%
				top: 54%

			> .flag
				background: #fff
				color: #000
				display: inline-block
				font-size: 18px
				letter-spacing: 0
				padding: 10px 20px 5px

				&:after
					background: #fff
					content: ""
					height: 200%
					left: 0
					position: absolute
					top: 0
					width: 2px

				&.for-star
					left: 48.5%
					top: 10%

				&.for-planet
					left: 17.5%
					top: 37%

					&:after
						left: auto
						right: 0

				&.for-zone
					left: 77%
					top: 33%

		> .doppler.scene
			> .mountain
				left: 0
				bottom: 51%

			> .satellite
				left: 0%
				top: 5%

			> .waves.for-satellite
				left: 3%
				top: 10%

			> .tower
				bottom: 54%
				left: 75%

			> .waves.for-tower
				bottom: 72%
				left: 76.5%

			> .telescope
				bottom: 4%
				left: 13%

		> .controls
			position: absolute
			z-index: 2
