.about
	> .stage
		background: #233
		height: 400px
		margin: 0 auto
		outline: 1px solid red
		position: relative
		width: 800px

		> .scene
			> *
				position: absolute

		> .ata.scene
			> .mountain
				left: 0
				bottom: 41%
				width: 788px

			> .far.scope
				bottom: 30%
				height: 90px
				margin-left: -60px

				&.first
					left: 13%

				&.second
					left: 50%

				&.third
					left: 87%

			> .near.scope
				bottom: 10%
				margin-left: -200px

				&.first
					left: 33%

				&.second
					left: 75%

		> .radiosphere.scene
			.outer.ring
				left: 50%
				top: 50%
			.middle.ring
			.inner.ring
			.main.planet
			.radio
			.radio-waves
			.tiny.planet
			.small.planet
			.other.planet
