.about
	> .stage
		background: #233
		height: 400px
		margin: 0 auto
		outline: 1px solid red
		position: relative
		width: 800px

		> .scene
			> *
				position: absolute

		> .ata.scene
			> .mountain
				left: 0
				bottom: 41%
				width: 788px

			> .far.scope
				bottom: 30%
				height: 90px
				margin-left: -60px

				&.first
					left: 13%

				&.second
					left: 50%

				&.third
					left: 87%

			> .near.scope
				bottom: 10%
				margin-left: -200px

				&.first
					left: 33%

				&.second
					left: 75%

		> .radiosphere.scene
			> .outer.ring
				left: 6%
				top: 18%

			> .middle.ring
				left: 16%
				top: 20%

			> .inner.ring
				left: 27%
				top: 24%

			> .main.planet
				left: 41%
				top: 21%

			> .radio
				left: 46%
				top: 11%

			> .radio-waves
				left: 45%
				top: 3%

			> .tiny.planet
				left: 80%
				top: 3%

			> .small.planet
				left: 17%
				top: 61%

			> .other.planet
				left: 75%
				top: 63%
