<!DOCTYPE html>
<html>
    <head>
      <meta charset=utf-8>
      <title>SETI Live</title>
    
      <link rel='stylesheet' href='/assets/fonts/TitilliumText-fontfacekit/stylesheet.css' type='text/css' charset='utf-8' />
      <script type="text/javascript" src='/maintenance.js'></script>
        <script type="text/javascript" src='/assets/application.js'></script>

      <link rel='stylesheet' href='/maintenance.css' type='text/css' charset='utf-8' />

  
      <script type="text/javascript" charset="utf-8">
        //var jQuery  = require("jqueryify");
        var exports = this;
        jQuery(function(){
          var App = require("index");
          exports.app = new App({el: $("body")});      
        });
        
      </script>
    </head>
    <body>
      <div id='top'>
        <p href='/' id='logo'>SETI<span class='green live'>LIVE</span></p>
      </div>
      
      <div id='content'>
        <div id='real_time'>
          <h1>Back soon</h1>
          <h2> <span href='#' class='green '>SETILive is down for maintenance.</span></h2>
        </div>
      </div>
    </body>

</html>